* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Roboto, sans-serif;
}

#cabecalho {
  position: fixed;
  width: 100%;
}

#cabecalho , #rodape {
  background-color: rgb(3, 59, 12);
  padding: 20px;
  color: white;
  text-align: center;
}

#titulo {
  font-weight: 600;
  font-size: 50px;
  line-height: 100px;
}

.navegacao {
  display: inline-block;
  width: 100px;
  list-style: none;
  padding: 0 70px;
}

li a , p a {
  text-decoration: none;
  color: white;
}

td a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
  font-weight: 600;
}

main {
  padding: 180px 20px 20px;
  text-align: justify;
}

.posicao {
  display: flex;
}

.lado-esquerdo , .lado-direito {
  width: 50%;
  margin: 10px;
}

section h2 {
  text-align: center;
  padding: 20px;
}

#licoes_aprendidas , #licoes_a_aprender {
  align-items: center;
  width: 100%;
}

#minha_foto {
  object-fit: cover;
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
}

table , td {
  border: 1px solid black;
  margin: auto;
}

span {
  font-style: oblique;
}
