* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: 'Open Sans', sans-serif;
}

#cabecalho {
  position: fixed;
  width: 100%;
}

#cabecalho, #rodape {
  background-color: rgb(3, 59, 12);
  padding: 20px;
  color: white;
  text-align: center;
}

.navegacao {
  display: inline-block;
  justify-items: center;
  list-style: none;
  border: 1px solid white;
  width: 80px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

#titulo {
  font-weight: 600;
  font-size: 50px;
  line-height: auto;
}

main {
  padding: 136px 20px 5px;
  text-align: justify;
}

.posicao {
  display: flex;
}

.lado-esquerdo, .lado-direito {
  width: 50%;
  margin: 10px;
  padding-bottom: 20px;
}

section h2 {
  text-align: center;
  padding: 20px;
}

#licoes_aprendidas, #licoes_a_aprender {
  align-items: center;
  width: 100%;
}

#minha_foto {
  display: block;
  margin: auto;
  width: 20%;
  border: 1px solid black;
}

table {
  border: 1px solid black;
  margin: auto;
}